<mat-list class="example-list">
  <h3>JDBC Drivers</h3>
  <hr />
  <mat-list-item> 1. MySQL Connector Java</mat-list-item>
  <p>
    MySQL Connector/J is a JDBC Type 4 driver, which means that it is pure Java
    implementation of the MySQL protocol and does not rely on the MySQL client
    libraries. This driver supports auto-registration with the Driver Manager,
    standardized validity checks, categorized SQLExceptions, support for large
    update counts, support for local and offset date-time variants from the
    java.time package, support for JDBC-4.x XML processing, support for per
    connection client information and support for the NCHAR, NVARCHAR ...
  </p>
</mat-list>
<mat-list class="example-list">
  <hr />
  <mat-list-item> 2. PostgreSQL JDBC Driver </mat-list-item>
  <p>PostgreSQL JDBC Driver Postgresql.</p>
</mat-list>
<mat-list class="example-list">
  <hr />
  <mat-list-item> 3. SQLite JDBC</mat-list-item>
  <p>
    SQLite JDBC is a library for accessing and creating SQLite database files in
    Java (it includes native libraries).
  </p>
</mat-list>
