<br><br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Mockito Core</mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <p>Mockito mock objects library core API and implementation</p> 
    </mat-card-content>
  </mat-card>
<br><br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Mockito </mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <p>Mockito objects library for java</p> 
    </mat-card-content>
  </mat-card>
<br><br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>EasyMock</mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <p>EasyMock provides an easy way to create Mock Objects for interfaces and classes generating them on the fly</p> 
    </mat-card-content>
  </mat-card>
<br><br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>PowerMock</mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <p>PowerMock support module for JUnit 4.x</p> 
    </mat-card-content>
  </mat-card>
<br><br>