<!-- <br /><br />
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Mocking</mat-card-title> </mat-card-header
  ><br />
  <mat-card-content>
    <p>Mockito Core</p>
    <br />
    <p>Mockito</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button routerLink="/mocking">More...</button>
  </mat-card-actions>
</mat-card>
<br /><br /> -->

<mat-list class="example-list">
  <h3>Testing And Frameworks</h3>
  <hr />

  <mat-list-item> JUnit</mat-list-item>

  <mat-list-item>ScalatestDotty</mat-list-item>
  <mat-list-item>JUnit Jupiter API</mat-list-item>
  <mat-action-list>
    <button mat-button routerLink="/testing">more...</button>
  </mat-action-list>
  <hr />

  <h3>Mocking</h3>
  <hr />
  <mat-list-item> Mockito Core</mat-list-item>

  <mat-list-item>Mockito</mat-list-item>

  <mat-list-item>EasyMock</mat-list-item>
  <mat-action-list>
    <button mat-button routerLink="/mocking">more...</button>
  </mat-action-list>
  <hr />
  <h3>JDBC Driver</h3>
  <hr />
  <mat-list-item> MySQL Connector Java</mat-list-item>

  <mat-list-item>PostgreSQL JDBC Driver</mat-list-item>

  <mat-list-item>SQLite JDBC</mat-list-item>
  <mat-action-list>
    <button mat-button routerLink="/jdbc">more...</button>
  </mat-action-list>
  <hr />
</mat-list>
