<br><br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spring Boot Starter Web</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>Starter of Spring web uses Spring MVC, REST and Tomcat as a default embedded server. The single spring-boot-starter-web dependency transitively pulls in all dependencies related to web development. 
         It also reduces the build dependency count.</p>
      <p><i>Last Release on Jan 7, 2023</i></p>   
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
<br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Java Servlet API</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>Java Servlet is the foundation web specification in the Java Enterprise Platform. 
         Developers can build web applications using the Servlet API to interact with the request/response workflow.</p>
         <p><i>Last Release on Feb 23, 2023</i></p> 
        </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Frontend API Client</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>API stands for Application Programming Interface. In simple terms, 
        it is a set of rules and protocols that allows different software applications to communicate and interact with each other.</p>
        <p><i>Last Release on Mar 13, 2023</i></p> 
      </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spring Web Flow</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>Spring Web Flow builds on Spring MVC and allows implementing the "flows" of a web application. A flow encapsulates a sequence of steps that guide a user through the execution of some business task. 
        It spans multiple HTTP requests, has state, deals with transactional data.</p>
        <p><i>Last Release on May 03, 2023</i></p>   </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Java Client</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>A Java client is a Java application written to execute in a Java Virtual Machine (JVM) on a client device – typically a desktop, mobile device, or other endpoint. Because it is designated as a client, 
        it typically provides a user interface and connectivity to a backend service.</p>
        <p><i>Last Release on Jun 23, 2023</i></p> 
      </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spring Web MVC</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>Spring Web MVC is the original web framework built on the Servlet API and has been included in the Spring Framework from the very beginning. The formal name, "Spring Web MVC," 
        comes from the name of its source module (spring-webmvc), but it is more commonly known as "Spring MVC".</p>
        <p><i>Last Release on Nov 21, 2023</i></p> 
      </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>JSON Kotlin Streaming Library</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      
      <p>Moshi is a modern JSON library for Android and Java from Square. It can be considered as the successor to GSON, 
        with a simpler and leaner API and an architecture enabling better performance through the use of the Okio library.</p>
    
        <p><i>Last Release on Dec 13, 2023</i></p> 
        </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>
<br><br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spring Boot Starter Web</mat-card-title>
      <mat-card-subtitle>   </mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <p>Starter of Spring web uses Spring MVC, REST and Tomcat as a default embedded server. The single spring-boot-starter-web dependency transitively pulls in all dependencies related to web development. 
         It also reduces the build dependency count.</p>
         <p><i>Last Release on Sep 23, 2023</i></p> 
        </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Read more...</button>
    </mat-card-actions>
  </mat-card>

  
